    
body {
 background-color: rgb(38, 145, 134);
}
h1 {
 color: #66BFBF;
}
h3{
    color:#ff0000;
}
hr {
 border-style: none;
 border-color: rgb(212, 210, 210);
 border-width: 5px;
 border-top-style: dotted;
 width: 2.5%;
}
